<div class="row">

	<div class="col-lg-3">
  </div>

	<div class="col-lg-6">



    <div class="login-container">

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png"  height="80px" width="80px">

    <!-- Create customer Form -->
      <div  ng-show="signUp">
              <form class="form-signin" ng-submit="addUser()">


                <input type="text" placeholder="Name" ng-model="name" required>

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="email">

                      <label for="inputPassword" class="sr-only">Password</label>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">

                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading" >Sign in</button>


                    <span ng-hide="loading">Create</span>
                    <span ng-show="loading">Loading....</span></button>

              </form>

            </div>


        <div class="login-form"   ng-show="login">
            <form ng-submit="signIn()" >


              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="email">

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">

                <div class="checkbox">
                  <label>
                  <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>

              <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading" >Sign in</button>


                  <span ng-hide="loading">Sign In</span>
                  <span ng-show="loading">Loading....</span></button>

            </form>

          </div>


        <!-- Forgot password  -->

         <div class="login-form" ng-show="fp" id="fpass">

           <form ng-submit="forgotPassword()" >


                   <input type="email" id="fpass-email" placeholder="Email" ng-model="email" required>


                 <button id="fpass-button"  ng-disabled="loading" type="submit" class="button-primary">


                   <span ng-hide="loading">Resend</span>
                   <span ng-show="loading">Loading....</span></button>

             </form>

           </div>



             <a href="" id="logIn" ng-click="loginClick()" style="margin-right:5px" ng-hide="login"  >Login </a>
             <a href="" id="signUp"   ng-click="signUpClick()" ng-hide="signUp" style="margin-right:5px">Sign Up </a>

             <a href="" id="forgotPassword"  ng-click="fpClick()" style="margin-right:5px" ng-hide="fp">Forgot Password </a>


        </div>




      </div>

      <div class="col-lg-3">
      </div>

    </div>
