<div class="login-background">

    <div class="login-container">

			<div class="form-background">

			<div class="spacer-center">
		    <img src="static/images/avatar.jpg"  height="80px" width="80px">
		 </div>

    <!-- Create customer Form -->
      <div  ng-show="signUp">
              <form class="form-signin" ng-submit="addUser()">


								  <div class="spacer">
                    <input type="text" class="form-control" placeholder="Name" ng-model="name" required>
									</div>

										<div class="spacer">
	                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="email">
											<label for="inputEmail" class="sr-only">Email address</label>
										</div>

										<div class="spacer">
                      <label for="inputPassword" class="sr-only">Password</label>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">
										</div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading" >Create</button>



                    <span ng-show="loading">Loading....</span></button>

              </form>

            </div>


        <div class="login-form"   ng-show="login">
            <form ng-submit="signIn()" >

						<div class="spacer">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="email">
						</div>

						<div class="spacer">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">
							</div>

<!--
                <div class="checkbox">
                  <label>
                  <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
							-->

              <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading" >Sign in</button>
                <form ng-submit="guestLogin()" >
                    <input class="btn btn-lg btn-warning btn-secondary btn-block" type="submit" value="Guest Access" ng-click="guestLogin()">
                </form>
                  <span ng-show="loading">Loading....</span></button>

            </form>

          </div>


        <!-- Forgot password  -->

         <div class="login-form" ng-show="fp" id="fpass">

           <form ng-submit="forgotPassword()" >


                   <input type="email" id="fpass-email" placeholder="Email" ng-model="email" required>


                 <button id="fpass-button"  ng-disabled="loading" type="submit" class="button-primary">


                   <!--<span ng-hide="loading">Resend</span>-->
                   <span ng-show="loading">Loading....</span></button>

             </form>

           </div>


					 <div class="spacer">
             <a href="" id="logIn" ng-click="loginClick()" style="margin-right:5px" ng-hide="login"  >Login </a>
             <!--button ng-click="authenticate('google')" class="btn btn-warning btn-secondary">Sign in with Google</button-->
             <!--button ng-click="authenticate('github')" class="btn btn-warning btn-secondary">Sign in with GitHub</button-->
					 </div>
             <a href="" id="signUp"   ng-click="signUpClick()" ng-hide="signUp" style="margin-right:5px">Sign Up </a>

             <a href="" id="forgotPassword"  ng-click="fpClick()" style="margin-right:5px" ng-hide="fp">Forgot Password </a>


        </div>


			</div>


    </div>
