.spacer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.spacer-center {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}


.login-container {
  /*margin-top: 40px;*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
           flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    }

.login-background {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;

  		background-color: #ffffff;
  		background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-repeat: repeat,			no-repeat,			no-repeat;
  		background-size: 100px 100px, cover,				cover;
  		background-position: top left,		center center,		bottom center;
  		background-attachment: fixed,			fixed,				fixed;

      -moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: bold;
			text-transform: none !important;
  	}

    .form-background {

      background-color: #ffffff;
      padding-right: 80px;
      padding-left: 80px;
      padding-top: 30px;
      padding-bottom: 30px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;

    }

    #customContainer {
    width:800px;
    height:580px;
    border:1px solid black;
    overflow:hidden;
    position:relative;
    background: #151515;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}


hh {
   margin-top: 0.67em;
   margin-bottom: 0.67em;
   margin-left: 0;
   margin-right: 1em;
   font-weight: bold;
   font-size: 18px;
   background-color: #ff944d;

}

hs{
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 1em;
  font-weight: bold;
  font-size: 18px;
  background-color: #E5FFE5;

}

hi{
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 1em;
  font-weight: bold;
  font-size: 18px;
  background-color: #FF99B1;
}

hn {
  margin-top: 0.1em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 18px;
  background-color: #FFFFAD;
}

hba {
  margin-top: 0.1em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 18px;
  background-color: #8080ff;
}

hb {
  margin-top: 0.1em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 18px;
  background-color: #a6a6a6;
}

hselected {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 1em;
  font-size: 1.5em;
  text-decoration: underline;
}



hchosen {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 1em;
  font-weight: bold;
  font-size: 18px;
  background-color: #ff944d;
}


himg_id {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 1em;
  font-weight: bold;
  font-size: 18px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:800px;
  height:580px;
}

.block-margin{
    display:block;
    margin-top: 10px;
}
.slider-width200
{
    position: absolute;
    width: 200px;
    top: 120%;
    left: 50%;
}
