.spacer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.spacer-center {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}


.login-container {
  /*margin-top: 40px;*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
           flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    }

.login-background {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;

  		background-color: #ffffff;
  		background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
  		background-repeat: repeat,			no-repeat,			no-repeat;
  		background-size: 100px 100px, cover,				cover;
  		background-position: top left,		center center,		bottom center;
  		background-attachment: fixed,			fixed,				fixed;

      -moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: bold;
			text-transform: none !important;
  	}

    .form-background {

      background-color: #ffffff;
      padding-right: 80px;
      padding-left: 80px;
      padding-top: 30px;
      padding-bottom: 30px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;

    }

    .editbtn {
      display: inline-block;
      height: 38px;
      padding: 0 30px;
      color: #555;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #bbb;
      cursor: pointer;
      box-sizing: border-box;
    border: 1px solid #000000;

}

.editbtn:hover {
    background-color: #ff9999; /* Green */
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



    #customContainer {
    width:800px;
    height:800px;
    border:1px solid black;
    overflow:hidden;
    position:relative;
    background: #151515;
}

#tutorialContainer {
width:1000px;
height:600px;
border:1px solid black;
overflow:hidden;
position:relative;
background: #151515;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}


hh1 {
   display:inline-block;
   margin-top: 0.1em;
   margin-bottom: 0.1em;
   margin-left: 0;
   margin-right: 0em;
   font-weight: bold;
   font-size: 18px;
   background-color: #ff944d;

}

hh2{
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #E5FFE5;

}

hh3{
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #FF99B1;
}

hh4 {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #FFFFAD;
}

hh5 {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #8080ff;
}

hh6 {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #a6a6a6;
}
hh7 {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #a6a6a6;
}
hh8 {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #a6a6a6;
}
hh9 {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #a6a6a6;
}
hh10 {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0em;
  font-weight: bold;
  font-size: 18px;
  background-color: #a6a6a6;
}

hselected {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 2em;
  font-size: 1.5em;
  text-decoration: underline;
}



hchosen {
  display:inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 2em;
  font-weight: bold;
  font-size: 18px;
  background-color: #ff944d;
}


himg_id {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 1em;
  font-weight: bold;
  font-size: 18px;
}

pC1 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #ff944d;
}

pC2 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #E5FFE5;
}

pC3 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #FF99B1;
}

pC4 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #8080ff;
}

pC5 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #ff944d;
}

pC6 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #a6a6a6;
}

pC7 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
}

pC8 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
}

pC9 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
}

pC10 {
  margin-top: 0.1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 8em;
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
}

.cropArea {
  background: #FFFFFF;
  overflow: hidden;
  width:900px;
  height:530px;
}

.block-margin{
    display:block;
    margin-top: 10px;
}
.slider-width200
{
    width: 200px;
    /*position: absolute;
    top: 120%;
    left: 50%;*/
}

input[type=”range”] {
    -webkit-appearance: none;
    background-color: #D64928;
    height: 15px;
    width: 170px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}
