<div class="row">
	<div class="col-lg-12">
		<h2> Image Classification </h2>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<img id="test_img" src=""/>
	</div>
</div>


<div class="row" >
	<div class="col-lg-5">
		<!--
		<form ng-submit="readJSON()" >
				<input class="btn btn-default btn-secondary" type="submit" value="Read JSON">
		</form>
	-->

		<h3>Image <himg_id id="img_id">#</himg_id></h3>

		<div id="customContainer">
			<canvas id="canvas" style="z-index: 1;
				position:absolute;
				left:0px;
				top:10px;

			"></canvas>
			<canvas id="canvasMiddle" style="z-index: 2;
				position:absolute;
				left:0px;
				top:10px;

			"></canvas>
				<canvas id="canvasTop" style="z-index: 3;
				position:absolute;
				left:0px;
				top:10px;

			"></canvas>
		</div>
	</div>
	<div class="col-lg-2">
		<form ng-submit="clearCanvas()" >
				<input class="btn btn-warning btn-secondary" type="submit" value="Clear Canvas">
		</form>
	</div>
	<div class="col-lg-1">
		<form ng-submit="saveWork()" >
				<input class="btn btn-success btn-secondary" type="submit" value="Finish!">
		</form>
	</div>
	<div class="col-lg-2">
		<button ng-click="restartClassification()" class="btn btn-danger">Restart</button>

	</div>
	<div class="col-lg-2">
		<div class="row" >

		<h3> Legend: </h3>
		<hh> 1 - Healthy </hh>
		<hs> 2 - Scar </hs>
		<hi> 3 - Inflammatory </hi>
		<hn> 4 - Necrotic </hn>
		<hba> 5 - Backgound </hba>
		<hb> 6 - Bad Data </hb>
		<hselected> Selected: </hselected>
		<hchosen id="tissue">1 - Healthy </hchosen>

	</div>

</div>

</div>

<!--div class="row" >
	<div class="col-lg-6">

		<p id="global"> 0, 0 </p></br>
		<p id="cont_xy"> 0, 0 </p></br>
		<p id="overall_dim"> 0, 0 </p>
	</div>
	<div class="col-lg-6">
		<p id="mouse_down"> 0 </p></br>
		<p id="key_code"> key pressed </p></br>
		<p id="toggle_code"> toggle off </p>
			<p id="ratio"> 0 </p>
			<p id="cont"> 0,0 </p>
			<p id="cv"> 0,0 </p>
	</div>
</div-->

<p id="status"> 0, 0 </p></br>
	<div class="col-lg-12">

	<!-- ng-submit="addData()" calls the $scope.addData = function() .js code upon a submit -->

</div>
