<div class="row">
	<div class="col-lg-12">
		<h2> <b>Image Classification</b> </h2>
	</div>
</div>


<div class="row" >
	<div class="col-lg-1">

	</div>

	<div class="col-lg-1">
		<form ng-submit="clearCanvas()" >
				<input class="btn btn-warning btn-secondary" type="submit" value="Clear Canvas">
		</form>
	</div>
	<div class="col-lg-1">
		<form ng-submit="saveWork()" >
				<input class="btn btn-success btn-secondary" type="submit" value="Finish!">
		</form>
	</div>
	<div class="col-lg-1">
		<button ng-click="restartClassification()" class="btn btn-danger">Restart</button>
	</div>
	<div class="col-lg-8">

	</div>

</div>

	<div class="row" >
		<h3><b>Features:</b> zoom with mouse wheel, mouse wheel click to drag,<br> crtl+z for undo, 'T' toggles background</himg_id></h3>

		<div class="col-lg-10">
			<div id="customContainer">
				<div ng-hide="showLoadingWidget">
				<canvas id="canvas" style="z-index: 1;
					position:absolute;
					left:0px;
					top:10px;

				"></canvas>
				<canvas id="canvasMiddle" style="z-index: 2;
					position:absolute;
					left:0px;e
					top:10px;

				"></canvas>
					<canvas id="canvasTop" style="z-index: 3;
					position:absolute;
					left:0px;
					top:10px;

				"></canvas>
			</div>

				<div ng-show="showLoadingWidget" class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
				</div>
			</div>
			</div>

	<div class="col-lg-2">

		<h3> Legend: </h3>
		<hh1 id="oneL"> 1 - label1 </hh1><br>
		<hh2 id="twoL" ng-show="textL2"> 2 - label2 </hh2><br>
		<hh3 id="threeL" ng-show="textL3"> 3 - label3 </hh3><br>
		<hh4 id="fourL" ng-show="textL4"> 4 - label4 </hh4><br>
		<hh5 id="fiveL" ng-show="textL5"> 5 - label5 </hh5><br>
		<hh6 id="sixL" ng-show="textL6"> 6 - label6 </hh6><br>
		<hh7 id="sevenL" ng-show="textL7"> 7 - label7 </hh7><br>
		<hh8 id="eightL" ng-show="textL8"> 8 - label8 </hh8><br>
		<hh9 id="nineL" ng-show="textL9"> 9 - label9 </hh9><br>
		<hh10 id="tenL" ng-show="textL10"> 10 - label10 </hh10><br>
		<hselected> Selected: </hselected><br>
		<hchosen id="chosen">1 - label1 </hchosen><br>

	</div>

</div>

<!--div class="row" >
	<div class="col-lg-6">

		<p id="global"> 0, 0 </p></br>
		<p id="cont_xy"> 0, 0 </p></br>
		<p id="overall_dim"> 0, 0 </p>
	</div>
	<div class="col-lg-6">
		<p id="mouse_down"> 0 </p></br>
		<p id="key_code"> key pressed </p></br>
		<p id="toggle_code"> toggle off </p>
			<p id="ratio"> 0 </p>
			<p id="cont"> 0,0 </p>
			<p id="cv"> 0,0 </p>
	</div>
</div-->
<!--
<p id="pageload"> 00</p>
<p id="status"> 0
	, 0 </p></br>
-->

	<!-- ng-submit="addData()" calls the $scope.addData = function() .js code upon a submit -->
