<div class="row">
	<div class="col-lg-12">
		<h2> Polygon Draw From Coordinates </h2>
	</div>
</div>

<div class="row" >
	<div class="col-lg-4">
		<form ng-submit="readJSON()" >
				<input class="btn btn-default btn-secondary" type="submit" value="Read JSON">
			<!--
				<ul class="polygonPoints">
						<li ng-repeat="polygonPoint in polygonPoints">
							<span ng-repeat="polygon in polygonPoint">h2
								<p>X: {{polygon.xPosition}} - Y: {{polygon.yPosition}}</p>
							</span>
						</li>
				</ul>
			-->
		</form>
	</div>
	<div class="col-lg-4">
		<form ng-submit="clearCanvas()" >
				<input class="btn btn-default btn-secondary" type="submit" value="Clear Canvas">
		</form>
	</div>

	<div class="col-lg-4">
		<button ng-click="restartClassification()" class="btn btn-default">Restart</button>
	</div>

	<!--
			<form ng-submit="scaleDown()" >

					<input class="btn btn-default btn-secondary" type="submit" value="Scale Down">
			</form>
			<form ng-submit="scaleUp()" >

					<input class="btn btn-default btn-secondary" type="submit" value="Scale Up">
			</form>
	-->
</div>

<div class="row" >
	<div class="col-lg-6">
		<p id="status"> 0, 0 </p></br>
		<p id="global"> 0, 0 </p></br>
		<p id="overall_dim"> 0, 0 </p>
	</div>
	<div class="col-lg-6">
		<p id="mouse_down"> 0 </p></br>
		<p id="key_code"> key pressed </p></br>
		<p id="toggle_code"> toggle off </p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">

	<!-- ng-submit="addData()" calls the $scope.addData = function() .js code upon a submit -->

	<div id="canvasWrapper">
		<canvas id="canvas" style="z-index: 1;
			position:absolute;
			left:20px;
			top:10px;
		"></canvas>
		<canvas id="canvasMiddle" style="z-index: 2;
			position:absolute;
			left:20px;
			top:10px;
		"></canvas>
			<canvas id="canvasTop" style="z-index: 3;
			position:absolute;
			left:20px;
			top:10px;
		"></canvas>
	</div>


<!--
	<div id="list" style="margin-left: 620px; float; left">
        Points:
        <ul>
            <li ng-repeat="point in data">
                [{{point.x}}, {{point.y}}] <a ng-click="removePoint(point)">[x]</a>
            </li>
        </ul>
  </div>
-->
  </div>
</div>
