<body ng-app="app" ng-controller="GuestCropCtrl">
  <div ng-show="browseImage">Select an image file (only .jpg or .png): <input type="file" id="fileInput" ng-show="browseImage" /></div>
	<!--p id="pulled_position"> 0, 0 </p-->



  <div class="row" ng-show="croppingStage">
    <div class="col-lg-2">

    </div>

  	<div class="col-lg-6">
      <div class="cropArea">
        <img-crop image="myImage" result-image="myCroppedImage" ng-hide="showLoadingWidget"
                area-type="{{cropType}}"
                result-width="myCroppedImageW"
                result-height="myCroppedImageH"

                result-x="myCroppedImageX"
                result-y="myCroppedImageY"

                original-width="myOriginalW"
                original-height="myOriginalH"

                original-crop-x="myOriginalX"
                original-crop-y="myOriginalY"

                original-crop-width="myCroppedOriginalW"
                original-crop-height="myCroppedOriginalH"></img-crop>

          <div ng-show="showLoadingWidget" class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
          </div>
          <div ng-show="showLoadingWidget" class="spinner">
              processing...
          </div>

      </div>

      <div class="col-lg-3">
      </div>

  </div>
</div>

<div class="row" ng-show="segmentingStage">
  <div class="col-lg-3">
  </div>

  <div class="col-lg-6">
    <div class="cropArea" id="segmContainer">
    <canvas id="segmenting_canvas" ng-hide="showLoadingWidget"></canvas>

    <div ng-show="showLoadingWidget" class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div ng-show="showLoadingWidget" class="spinner">
        processing...
    </div>
  </div>
  </div>

  <div class="col-lg-3">
  </div>
</div>

  <!--div>Crop Type:</div-->
  <!--div><img ng-src="{{myCroppedImage}}" width="{{myCroppedImageW}}"  height="{{myCroppedImageH}}"  /></div-->

  <div class="row" ng-show="croppingStage">
    <div class="col-lg-4">
        <!--button ng-click="testBtn()" class="btn btn-danger">testBtn</button-->
    </div>

      <div class="col-lg-3" >
          <button type="button" class="btn btn-warning btn-secondary" ng-click="setArea('rectangle')">Rectangle</button>
      </div>
      <div class="col-lg-3" ng-show="croppingStage">
            <button type="button" class="btn btn-warning btn-secondary" ng-click="setArea('circle')" >Circle</button>
      </div>

    <div class="col-lg-2">
    </div>

  </div>

  <div class="row" ng-show="segmentingStage">
    <div class="col-lg-4">
    </div>

    <div class="col-lg-4" >
      <div class="slider-width200" >
      <input id="granularity" type="range" min="0" max="4" value="2" step="1" />
      <p id="slidePosition">Granularity, 2 </p>

      </div>

    </div>

    <div class="col-lg-4">
    </div>

  </div>

  <div class="row" ng-show="croppingStage">
    <div class="col-lg-4">
    </div>

      <div class="col-lg-4">
        <form ng-submit="saveCrop()">
            <input class="btn btn-success btn-secondary" type="submit" value="Proceed with Cropped Image">
        </form>
      </div>

      <div class="col-lg-4">
      </div>
  </div>

  <div class="row" ng-show="segmentingStage">
    <div class="col-lg-4">
    </div>

      <div class="col-lg-4" >
        <form ng-submit="saveSegmentation()" >
            <input class="btn btn-success btn-secondary" type="submit" value="Proceed with Segmented Image">
        </form>
      </div>

      <div class="col-lg-4">
      </div>
  </div>


    <!--div class="block-margin">
        <span>Dimensions showed: {{myCroppedImageW}}X{{myCroppedImageH}}</span>
      </div>
      <div class="block-margin">
      	<span>Original Dimensions: {{myOriginalW}}X{{myOriginalH}}</span>
      </div>
      <div class="block-margin">
      	<span>Original Crop Position: {{myOriginalX}}X{{myOriginalY}}</span>
      </div>
      <div class="block-margin">
      	<span>Original Cropped Dimensions: {{myCroppedOriginalW}}X{{myCroppedOriginalH}}</span>
      </div-->
</body>
