

<!--
<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>
-->

<!--
<div class="row">
    <div class="header">
      <h1>
        <div><react-component name="ScaleCanvasToImage" props="canvas_ctrl"/></div>
      </h1>
      <h1>
        <div><canvas imagefp="canvas_ctrl.image_fp"/></div>
      </h1>
    </div>
</div>
-->

<!--
<div class="row">
    <div class="header">
      <h1>
        <div><react-component name="HelloWorld" props="person"/></div>
      </h1>
      <h1>
        <div><hello fname="person.fname" lname="person.lname"/></div>
      </h1>
    </div>

    <form class="pure-form">
      <fieldset>
        <legend>Enter Name</legend>
        <input type="text" ng-model="person.fname" placeholder="First Name"/>
        <input type="text" ng-model="person.lname" placeholder="Last Name"/>
      </fieldset>
    </form>
</div>
-->




<!--<i class="fa fa-image" style="font-size:48px;color:red"></i>-->

<!--
<p>Used on a button:</p>
<button style="font-size:24px">Button <i class="fa fa-image"></i></button>
<br>
-->

<div class="row">
	<div class="col-lg-4 col-md-6 col-xs-12">

		<div ng-controller="ChartController">
			<canvas class="chart chart-line" chart-data="data" chart-labels="labels"
				chart-series="series" chart-click="onClick"></canvas>
		</div>
		
				<div class="title">{{ 0 }}</div>
				<div class="comment">Classified</div>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
					<i class="fa fa-tasks"  style="font-size:48px;"></i>
				<div class="title">{{ 0 }}</div>
				<div class="comment">In Queue</div>
	</div>
  <div class="col-lg-4 col-md-6 col-xs-12">
					<i class="fa fa-dashboard" style="font-size:48px;"></i>
				<div class="title">0</div>
				<div class="comment">% Complete</div>
	</div>
</div>

<div class="row">
  <div class="col-lg-5">
  </div>
  <div class="col-lg-7">
    <button class="btn btn-lg btn-info">Continue</button>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-image" title="Images">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">ID</th><th>% Complete</th><th>Role</th><th>Account</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>0</td><td>Super Admin</td><td>AZ23045</td></tr>
							<tr><td class="text-center">2</td><td>0</td><td>Admin</td><td>AU24783</td></tr>
							<tr><td class="text-center">3</td><td>0</td><td>User</td><td>AM23781</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<!--
<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
-->
