
<!--
<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>
-->


<div class="row">
	<div class="col-lg-4 col-md-6 col-xs-12">

		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-image"></i>
				</div>
				<div class="title">{{ classified }}</div>
				<div class="comment">Classified</div>
			</rd-widget-body>
		</rd-widget>

	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">

		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">{{ in_queue }}</div>
				<div class="comment">In Queue</div>
			</rd-widget-body>
		</rd-widget>

	</div>
  <div class="col-lg-4 col-md-6 col-xs-12">

		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-dashboard"></i>
				</div>
				<div class="title">{{ percent_complete }}%</div>
				<div class="comment">Complete</div>
			</rd-widget-body>
		</rd-widget>

	</div>
	<div ><b>Upload Images to Label:</b> <input type="file" id="fileInput" name="fileInput" class="inputfile"/></div>
</div>


<div class="dashboard-spacing">
<div class="row">
	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-image" title="Image Search (Currently not working)">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
				  <tbody>
						<tr><td>Index</td><td>Image ID</td><td>Progress</td></tr>
						<tr ng:repeat="img in image_info" ng-click="setSelectedImg();" ng-style="{'background-color': colors[$index]}"><td>{{$index}}</td><td>{{img.id}}</td><td>{{img.progress}}</td><td width="5%"><button class="editbtn" id="button-{{$index}}">delete</button></td></tr>
						 </tbody>
				 </table>
		 </div>
		</rd-widget-body>
	<rd-widget>
	</div>
</div>
</div>
