<!DOCTYPE html>
  <html data-ng-app="myApp">
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="$state.current.title + ' | Tissue Type ID App'"> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- <link rel="shortcut icon" href="static/images/" /> -->
    <base href="/"/>
     <!--  FONT
  末末末末末末末末末末末末末末末末末末末末末末末末末 -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- STYLES -->
  <link href="static/css/login.css" rel="stylesheet" type="text/css">
  <link href="static/css/page-content.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">

  <link rel="stylesheet" type="text/css" href="static/node_modules/angular-grid/dist/angular-grid.css">
    <link rel="stylesheet" type="text/css" href="static/node_modules/angular-grid/dist/theme-fresh.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.css" rel="stylesheet" />
     <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >

   <!-- JS 末末末末末末末末末末末末末末末末末末末末末末末末末 -->
    <script src="static/node_modules/angular/angular.min.js"></script>
    <script src="static/node_modules/ng-idle/angular-idle.min.js"></script>


    <!-- Cropping tool -->
    <script src="static/node_modules/ngImgCrop/ng-img-crop.js"></script>
    <link rel="stylesheet" type="text/css" href="static/node_modules/ngImgCrop/ng-img-crop.css">

    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/ctrl/toggle.js"></script>
    <script type="text/javascript" src="static/js/ctrl/login.js"></script>
    <script type="text/javascript" src="static/js/ctrl/logout.js"></script>
    <script type="text/javascript" src="static/js/ctrl/canvas.js"></script>
    <script type="text/javascript" src="static/js/ctrl/crop.js"></script>
    <script type="text/javascript" src="static/js/ctrl/dashboard.js"></script>
    <script type="text/javascript" src="static/js/srv/user_info.js"></script>

    <script type="text/javascript" src="static/js/directives/widget.js"></script>
    <script type="text/javascript" src="static/js/directives/widget-body.js"></script>
    <script type="text/javascript" src="static/js/directives/widget-header.js"></script>
    <script type="text/javascript" src="static/js/directives/widget-footer.js"></script>
    <!-- Controllers -->

    <script type="text/javascript" src="users/controllers.js"></script>
   <script type="text/javascript" src="static/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="static/node_modules/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="static/node_modules/angularjs-toaster/toaster.min.js"></script>
    <script type="text/javascript" src="static/node_modules/satellizer/satellizer.js"></script>
    <script type="text/javascript" src="static/node_modules/serve-favicon/index.js"></script>
    <script type="text/javascript" src="static/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="static/node_modules/angular-google-analytics/dist/angular-google-analytics.js"></script>
    <script src="static/node_modules/angular-grid/dist/angular-grid.js"></script>


    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="static/js/directives/loading.js"></script>

    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- mine
    <script type="text/javascript" src="static/dist/lib/js/main.min.js"></script>
    <link rel="stylesheet" href="static/dist/lib/css/main.min.css"/>-->

    <script type="text/javascript">
    //this is here to make plunkr work with AngularJS routing
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>

  </head>

<body  ng-controller="LogoutCtrl">

   <!-- Nav and Main Content Start -->
   <div ng-controller="ToggleCtrl">

    <div id="page-wrapper" ng-class="{'open': toggle}">

      <!-- Sidebar -->
      <div id="sidebar-wrapper" ng-if="isAuthenticated()" ng-cloak>
        <ul class="sidebar">
          <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
              Dashboard
              <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
          </li>
          <li class="sidebar-title"><span>NAVIGATION</span></li>
          <li ng-if="isAuthenticated()" class="sidebar-list">
            <a href="#/dashboard">Dashboard<span class="menu-icon fa fa-tachometer"></span></a>
          </li>
          <
          <li class="sidebar-list">
            <a href="#/cropImage">Crop Images<span class="menu-icon fa fa-table"></span></a>
          </li>

        <!--li class="sidebar-list">
          <a ui-sref="users.list">Users<span class="menu-icon fa fa-users"></span></a></br>
        </li>
        -->

          <li class="sidebar-list">
            <a href="#/polygonDraw">Continue<span class="menu-icon fa fa-table"></span></a>
          </li>
        </ul>
        <div class="sidebar-footer">
          <div class="col-xs-4">
            <a href="https://github.com/evegeris/groundtruth_webapp/" target="_blank">
              Github
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://github.com/evegeris/groundtruth_webapp/blob/master/README.md" target="_blank">
              About
            </a>
          </div>
          <div class="col-xs-4">
            <a href="#">
              Support
            </a>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->



      <div id="content-wrapper">
        <div class="page-content">

          <!-- Header Bar -->
          <div class="row header" ng-if="isAuthenticated()" ng-cloak>
            <div class="col-xs-12">
              <div class="user pull-right">
                <div class="dropdown-spacing">
                 <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-bind="user_name">
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li class="link">
                      <a href="#">
                        Profile
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href ng-click="logout()">
                        Logout
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

<!--

<header  ng-if="isAuthenticated()">
    <button style="float:right"class="button-primary" ng-click="logout()">Logout</button>
</header>


                <div  ng-if="isAuthenticated()" class="item dropdown" uib-dropdown>
                  <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="static/images/avatar.jpg">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">
                      Joe Bloggs
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="#">
                        Profile
                      </a>
                    </li>
                    <li class="link">
                      <a href="#">
                        Menu Item
                      </a>
                    </li>
                    <li class="link">
                      <a href="#">
                        Menu Item
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="#">
                        Logout
                      </a>
                    </li>
                  </ul>
                </div>

                <!--
                <div class="item dropdown" uib-dropdown>
                 <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                    <i class="fa fa-bell-o"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">
                      Notifications
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#">Server Down!</a>
                    </li>
                  </ul>
                </div>
                -->

              </div>
              <div class="meta">
                <div class="page">
                  Dashboard
                </div>
                <div class="breadcrumb-links">
                  Home / Dashboard
                </div>
              </div>
            </div>
          </div>
          <!-- End Header Bar -->


          <!-- Main content Start -->
          <article>
              <toaster-container></toaster-container>
              <div class="ui-view-container" ui-view="inner_page" >
              </div>
          </article>
          <!-- Main content End -->

        </div><!-- End Page Content -->
      </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->


    <!-- Login content Start -->
    <article>
        <toaster-container></toaster-container>
        <div class="ui-view-container" ui-view="login_page" >
        </div>
    </article>
    <!-- Login content End -->


        <!-- Nav End-->

    <!--</div>->
  <!--  <footer ng-if="isAuthenticated()">copyright  <a href="http://techarena51.com">  Techarena51.com </a></footer> -->

    </div> <!-- end ToggleCtrl scope -->


  </body>
</html>
